<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.shinvou.dt.unit.osxpsbundle</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a bundle that links against the ParasiteRuntime framework.</string>
	<key>SortOrder</key>
	<integer>3</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.bundleTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>$(LOCAL_LIBRARY_DIR)/Bundles</string>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
				<key>WRAPPER_EXTENSION</key>
				<string>___VARIABLE_bundleExtension___</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>/Library/Frameworks/</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>ParasiteRuntime</string>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>bundleExtension</string>
			<key>Name</key>
			<string>Bundle Extension:</string>
			<key>Description</key>
			<string>The path extension to use for this bundle</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>bundle</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:bundle</string>
		<string>Info.plist:NSHumanReadableCopyright</string>
		<string>___PACKAGENAME___.m</string>
		<string>Info.plist:PSFilters</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___.m</string>
		</dict>
		<key>ParasiteRuntime</key>
		<dict>
			<key>Path</key>
			<string>/Library/Frameworks/ParasiteRuntime.framework</string>
		</dict>
		<key>Info.plist:bundle</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
</string>
		<key>Info.plist:OPFilters</key>
		<string>&lt;key&gt;PSFilters&lt;/key&gt;
	&lt;dict&gt;
		&lt;key&gt;Executables&lt;/key&gt;
		&lt;array&gt;
			&lt;string&gt;&lt;/string&gt;
		&lt;/array&gt;
	&lt;/dict&gt;</string>
	</dict>
</dict>
</plist>
